@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigation Bar*/
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    background: teal;
    padding: 5px 20px;
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}
.navLinks li{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 5px;

}
.navLinks li a{
    display: block;

}

.logo a{
  font-size: 20px;  
}
.signUp.button{
    border-bottom: 1px gray  solid;
}

/* Navigation Bar mobile */
.navLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}
.link.button{
 order: 2;
}
.link{
    width: 100%;
    text-align: center;
    order: 3;
   display: none;
}

.link:active{
    display: block;
}


.toggle{
    cursor: pointer;
}

.bars{
    background:#999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before, .bars::after{
    background:#999;
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
    content: "";
}

.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}

/* Navigation Bar tablet*/
@media all and (min-width: 468px){
    .navLinks{
        justify-content: center;

    }
    .logo{
        flex:1;
    }
    .link.button{
        width: auto;
        order: 1;
        display: block ;
    }
    .toggle{
        order: 2;
    }
    .button.signUp{
        border: 0;
    }
    .button a{
        padding: 7px 15px;
        background: white;
    }
}
