*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  background-color: gray; 
  font-family: Arial, Helvetica, sans-serif;
}

li a{
   
    font-weight: 500;
    font-size:  16px;
    color:  black;
    text-decoration:  none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  20px 10%;
}

.logo{
    cursor: pointer;
    width: 160px;
    height: 160px;
}
.navLinks{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.4s ease 0s;
}

.navLinks li a:hover{
    color:white;
}

.comp-banner{
    display: flex;
    justify-content: center;
}
.comp-banner p{
    background-color: aqua;
    font-size: 40px;
    border-radius: 20px;
    width: 900px;
    text-align: center;
}